body {
  margin: 0;
  padding: 0;
  background-image: url("images/main-image.jpg");
  background-attachment: fixed;
}

#page-title {
  width: 100%;
  position: relative;
  height: 300px;
  background-image: linear-gradient(to bottom, #266215, rgba(255, 255, 255, 0));
  margin-top: 280px;
}

#title {
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 88px;
  text-align: center;
}

#main-button {
  font-size: 16px;
  margin: 4px 2px;
  transform: translate(-50%, -50%);
  background-color: #79d279;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}
